
html {
  height: 100%;
}

body {
  height: 100%;
  /*
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #202020, #ffffff);
  background-image:         linear-gradient(to bottom, #202020, #ffffff);
  */
  /* background: silver url('../background.jsp') center top; */
	background: white url('../images/background01.jpg') center top no-repeat;
  font-family: arial;
}

fieldset {
    font-size: 1em;
    color: #002D4C;
    border:1px solid #0099FF;
    background-color: #E5F4FF;
    padding: 20px;
    min-height: 371px;
    border-radius: 5px;
}

legend {
    color: #0099FF;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

select {
    width: 250px;
}

input {
    width: 250px;
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}


.title {
    margin: 20px;
    font-size: 2em;
		color: #002D4C;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* new shadow */
.shadow {
    box-shadow: 0 5px 25px #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.35)";
    background-color: white;
}

.box {
	width: 80%;
	height: 80%;
  min-width: 900px;
  min-height: 500px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  padding: 10px;
  opacity: .9;
}

.form {
    text-align: left;
    margin: 10px;
}

.table {
   display:table;
}

.table-row {
   display:table-row;
}

.table-cell {
   display:table-cell;
}

.line {
    /* display: inline-block;*/
    margin-bottom: 10px;
}

.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.version {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #E5F4FF;
	margin-top: 10px;
	font-size: 10px;
}

.btnEdit {
  cursor: pointer;
  border: 1px solid grey;
  background-color: silver;
  color: black;
  text-align: center;
  border-radius: 8px;
  width: 50px;
  font-size: 12px;
  float: right;
}

#logo {
  left: 10px;
  top: 10px;
  position: absolute;
}

.alternative {
    padding: 5px;
    color: black;
    border: silver solid thin;
    background-color: #FCFCFC;
}

.noalternative {
    border: red solid thin;
    background-color: lightpink;
    padding: 5px;
    color: black;
}


/** menu */
HTML  CSS   Result
Edit on
 *, *::after, *::before {
  box-sizing: border-box;
  font-family: arial;
  line-height: 2;
  margin: 0;
}

p {
  margin-bottom: 24px; }
  p:last-child {
    margin-bottom: 0; }

.content {
  margin: auto;
  max-width: 1000px;
  padding: 20px; }

.invis {
  height: 1px;
  left: -999px;
  position: absolute;
  top: -999px;
  visibility: hidden;
  width: 1px; }

.main-base {
  background: #eee;
  left: 0px;
  position: relative;
  transition: all .3s; }

  .main-base header, .main-base footer {
    background: #888;
    color: #fff; }

footer a {
  color: #fff; }

.nav-side {
  background: #0099FF;
  color: #fff;
  bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 60px;
  right: 20px;
  overflow: hidden;
  padding: 8px 0;
  position: fixed;
  transition: all .3s;
  width: 60px;
  z-index: 2;
  border-radius: 5px;
}

.menu-list {
  height: 0%;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  transition: all .3s; }
  .menu-list a {
    border-bottom: 1px solid #eee;
    color: #fff;
    display: block;
    padding: 12px 8px;
    text-decoration: none; }
    .menu-list a:hover {
      background: rgba(0, 0, 0, 0.5); }

.btn-label {
  cursor: pointer;
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
}
  .btn-label .top {
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
  }
  .btn-label .middle {
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 22px;
    left: 12px;
    right: 12px;
  }
  .btn-label .bottom {
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 32px;
    left: 12px;
    right: 12px;
  }
  .btn-label .label {
    text-align: center;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    font-size: 12px;
  }
  #nav-expand:checked + .nav-side .btn-label {
    display: none;
  }

.close {
  cursor: pointer;
  text-align: right;
  padding-right: 15px;
  line-height: 30px;
  font-size: 30px;
  cursor: hand;
  cursor: pointer;
  display: none;
  height: 40px;
  width: 92%;
  border-bottom: 1px solid #fff;
}
  #nav-expand:checked + .nav-side .close {
    display: block;
  }

#nav-expand:checked + .nav-side {
  bottom: 20px;
  height: 250px;
  right: 20px;
  width: 200px;
}
  #nav-expand:checked + .nav-side .menu-list {
    height: 100%;
  }
  #nav-expand:checked + .nav-side .btn-label {
    color: transparent;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
  }
  #nav-expand:checked + .nav-side + .main-base {
    left: 200px; }
  #nav-collapse + .main-base {
    left: 200px; }
  #nav-collapse + .main-base > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    opacity: 1;
    transition: opacity .3s; }
  #nav-collapse:checked + .main-base {
    left: 0;
  }
  #nav-collapse:checked + .main-base > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    width: 0;
    opacity: 0; }
