
body {
    background: white bottom no-repeat;
    // background: url('images/background2.jpg') center top no-repeat;
    // background-size: 100% 100%;
}

fieldset {
    padding: 20px;
    min-height: 371px;
    border-radius: 5px;
}

.box {
  position: relative;
  width: 70%;
  height: 80%;
  min-width: 600px;
  min-height: 400px;
}

.version {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #E5F4FF;
  font-size: 10px;
}

.btnBigSun {
  background: url('images/sol2.png') center center no-repeat;
  background-size: 100px;
  padding: 37px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.title {
  text-align: right;
}

/*
.btnBigSun:hover {
    box-shadow: 0 5px 25px #333;
    transition-duration: .3s;
}
*/

#bkgplate {
  position: absolute;
  top: 10%;
  left: 8%;
  background: white;
  -ms-transform: skewX(-12deg) skewY(2deg) rotate(-7deg);
  -webkit-transform: skewX(-12deg) skewY(2deg) rotate(-7deg);
  transform: skewX(-12deg) skewY(2deg) rotate(-7deg);
  width: 84%;
  height: 80%;
  min-width: 700px;
  min-height: 500px;
}

#sol1 {
  position: absolute;
  top: 3%;
  right: 4%;
  background-image: url('images/sol2.png');
  
  width: 178px;
  height: 161px;
}

#sol2 {
  position: absolute;
  top: 3%;
  right: 4%;
  background-image: url('images/sol2.png');
  
  width: 178px;
  height: 161px;
}

#main_content {
  /* text-align: center; */
}

#logo {
  left: 10px;
  top: 20px;
  width: 100px;
  height: 71px;
  position: absolute;
  background-image: url('images/fjader4.png');
}

#goteborg {
  width: 40%;
  z-index: 1;
  opacity: .8;
  margin:0px auto;
  display:block
}

#bottom-content {
  position: absolute;
  bottom: -300px;
  width: 100%;
}

#menu {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}
